* { margin: 0; padding: 0; }
#left { position: absolute; left: 0; top: 0; width: 70%; }
#right { position: absolute; right: 0; top: 0; width: 30%; }
h2 {
	text-align: center;
}
#id3 {
	text-align: center;
}
#id4 {
	margin-top: 10px;
	margin-left: 300px;
}
#id5 {
	margin-top: 10px;
}
#id6 {
	margin-left: 20px;
}
.msg {
	font: 12pt sans-serif;
	text-align: left;
	color: red;
}
